<p>A list of all Hogwarts students</p>

<% @students.each do |student| %>

  <p>Name: <%= student.full_name()%></p>
  <p>House: <%= student.house_id()%></p>
  <p>age: <%= student.age()%></p>




<% end %>
