<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/students">Students</a></li>
      <li><a href="/students/new">Add New Student</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
