<form action="/students" method="post">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name" />

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name" />

  <label for="house_select">Select your house</label>
  <select name="house" id="house_select">
    <% for house in @houses %>
    <option value="<%=house%>"><%=house%></option>
    <%end%>
  </select>

  <label for="age">Age</label>
  <input type="number" name="age" id="age" />

  <input type="submit" value="Add Student" />


</form>
